@import "tailwindcss";

:root {
  --primary-color: #fdcc89;
  --secondary-color: #153757;
}

@theme {
  /* 1. Custom Colors */
  /* This maps to text-primary, bg-primary, etc. */
  --color-primary: var(--primary-color);
  --color-secondary: var(--secondary-color);

  /* 2. Custom Background Images */
  /* This maps to bg-gradient-radial and bg-gradient-conic */
  --background-image-gradient-radial: radial-gradient(var(--tw-gradient-stops));
  --background-image-gradient-conic: conic-gradient(
    from 180deg at 50% 50%,
    var(--tw-gradient-stops)
  );
}

.apl-button-fixed-short {
  @apply rounded px-1 py-2 text-primary bg-secondary max-h-14 cursor-pointer disabled:cursor-not-allowed disabled:opacity-60;
}

.apl-button-fixed {
  @apply rounded px-4 py-2 text-primary bg-secondary max-h-14 cursor-pointer disabled:cursor-not-allowed disabled:opacity-60;
}

.apl-button-fixed-big {
  @apply rounded px-6 py-3 text-primary bg-secondary max-h-14 cursor-pointer disabled:cursor-not-allowed disabled:opacity-60;
}

.apl-button-expanded {
  @apply w-full flex justify-center rounded px-4 py-2 text-primary bg-secondary max-h-14 cursor-pointer disabled:cursor-not-allowed disabled:opacity-60;
}

.apl-alert-button-fixed {
  @apply rounded px-4 py-2 text-white bg-red-600 max-h-14 cursor-pointer disabled:cursor-not-allowed disabled:opacity-60;
}

.apl-alert-button-fixed-big {
  @apply rounded px-6 py-3 text-white bg-red-600 max-h-14 cursor-pointer disabled:cursor-not-allowed disabled:opacity-60;
}

.apl-alert-button-fixed-expanded {
  @apply w-full flex justify-center rounded px-4 py-2 text-white bg-red-600 max-h-14 cursor-pointer disabled:cursor-not-allowed disabled:opacity-60;
}
