{$DOMAIN:localhost} {
  encode zstd gzip

  handle_errors {
    @maintenance expression {err.status_code} >= 500
    handle @maintenance {
      root * /srv
      rewrite * /fallback.html
      file_server
    }
  }

  reverse_proxy frontend:3000
}
