### Uncomment to configure additional attributes of Application
# application:
#   timezone: Europe/Berlin  #default
#   admin_email: string
#   admin_password: string

# application_table:
questions:
  phase-1:
    phaseLabel: "Kurzbewerbung"
    startDate: 2026-03-02  # format: %Y-%m-%d
    endDate: 2026-03-22  # format: %Y-%m-%d
    sections:
      - name: Allgemein
        description: "Bitte beantwortet folgende Fragen so ausführlich, dass wir Euer Projekt bestmöglich nachvollziehen können, achtet dabei jedoch bitte auf die Zeichenbegrenzungen:"
      - name: Euer Team
        description: "Folgende Fragen gehen <b>nicht</b> in die Bewertung mit ein, sondern dienen dazu, Euch während des Wettbewerbsverlaufs zu kontaktieren oder Ausschlusskriterien zu überprüfen (Frage zum HGB-Eintrag und zur Bayerischen EliteAkademie). Die restlichen Fragen sind für unsere Statistik und zur Weiterentwicklung des Wettbewerbs."

    questions:
      # Section 1
      - questionType: shortText
        order: 1
        question: "Bitte nennt den Namen des Start-ups bzw. Eures Projekts/ Eurer Idee."
        mandatory: true
        maxTextLength: 60
        note: "Beispiel: Wenn Eure Initiative ‘GreenHarbor’ heißt schreibt bitte ins Textfeld nur: GreenHarbor"
        sectionNumber: 1

      - questionType: longText
        order: 2
        question: "Was ist das gesellschaftliche Problem, das Ihr lösen möchtet? Warum ist es besonders wichtig genau dieses Problem zu lösen?"
        mandatory: true
        maxTextLength: 500
        note: "Beispiel: \"Wir möchten die hohe Plastikverschmutzung der Ozeane reduzieren, da dies eine akute Bedrohung für die Meeresbewohner und das globale Ökosystem darstellt…\""
        sectionNumber: 1

      - questionType: longText
        order: 3
        question: "Was ist Eure Idee, um dieses Problem ganz oder teilweise zu lösen? Wo befindet Ihr Euch gerade in der Projektumsetzung?"
        mandatory: true
        maxTextLength: 500
        note: "Beispiel: \"Unsere Idee ist die Entwicklung biologisch abbaubarer Verpackungen und die Implementierung eines Recycling-Netzwerks für Küstenregionen. Wir haben vor 2 Monaten unsere GmbH gegründet und erste Interviews mit Stakeholdern geführt…\""
        sectionNumber: 1

      - questionType: multipleChoice
        order: 4
        question: "Welche(s) der SDG(s) adressiert Ihr damit primär? (max. 3)"
        minAnswers: 1
        maxAnswers: 3
        Answers:
          - "1. Keine Armut"
          - "2. Kein Hunger"
          - "3. Gesundheit und Wohlergehen"
          - "4. Hochwertige Bildung"
          - "5. Geschlechtergleichstellung"
          - "6. Sauberes Wasser und Sanitäreinrichtungen"
          - "7. Bezahlbare und saubere Energie"
          - "8. Menschenwürdige Arbeit und Wirtschaftswachstum"
          - "9. Industrie, Innovation und Infrastruktur"
          - "10. Weniger Ungleichheiten"
          - "11. Nachhaltige Städte und Gemeinden"
          - "12. Verantwortungsvolle Konsum- und Produktionsmuster"
          - "13. Maßnahmen zum Klimaschutz"
          - "14. Leben unter Wasser"
          - "15. Leben an Land"
          - "16. Frieden, Gerechtigkeit und starke Institutionen"
          - "17. Partnerschaften zur Erreichung der Ziele"
        mandatory: true
        userInput: false
        note: "Mehr zu den SDGs der UN: https://sdgs.un.org/goals"
        sectionNumber: 1

      - questionType: longText
        order: 5
        question: "Inwiefern erfüllt Ihr die ausgewählten SDGs?"
        mandatory: true
        maxTextLength: 500
        note: "Beispiel: \"Durch die Reduzierung von Plastikverpackungen tragen wir zum Wohl der Lebewesen unter und im Wasser bei, was zur Erreichung des SDGs 17 beiträgt. Darüber hinaus…\""
        sectionNumber: 1

      - questionType: longText
        order: 6
        question: "Was ist Euer persönlicher Bezug zu diesem Problem und wie seid Ihr zu diesem Projekt gekommen?"
        mandatory: true
        maxTextLength: 500
        note: "Beispiel: \"Als passionierte Taucher haben wir die Umweltauswirkungen hautnah erlebt und beschlossen, aktiv zur Lösung beizutragen…\""
        sectionNumber: 1

      - questionType: longText
        order: 7
        question: "Bitte erläutert Euer Geschäftsmodell bzw. wie Ihr Einnahmen generieren möchtet. Es geht hierbei besonders um das Konzept, Ihr müsst noch keine genauen Zahlen nennen."
        mandatory: true
        maxTextLength: 500
        note: "Beispiel: \"Unser Geschäftsmodell basiert auf dem Verkauf der nachhaltigen Verpackungen an Unternehmen sowie auf Partnerschaften mit Recyclingunternehmen…\""
        sectionNumber: 1

      - questionType: longText
        order: 8
        question: "Wie hebt Ihr Euch als Team ab und was ist das Besondere an Eurer Idee?"
        mandatory: true
        maxTextLength: 500
        note: "Beispiel: \"Unser interdisziplinäres Team vereint Expertise in Umweltwissenschaften, Ingenieurwesen und Unternehmensführung. Die Integration von Technologie in unsere Lösung macht uns einzigartig….\""
        sectionNumber: 1

      - questionType: imageUpload
        order: 9
        question: "Welches Bild habt Ihr im Kopf, wenn Ihr an Eure Idee denkt? Ladet dazu genau ein Bild hoch. (Lasst Eurer Kreativität freien Lauf und verzichtet wenn möglich auf KI! Das Bild wird nicht veröffentlicht.)"
        maxFileSizeInMB: 5.0
        preInformationBox: "Bitte wartet, bis das Bild vollständig hochgeladen ist, bevor Ihr zur nächsten Frage weitergeht oder die Seite verlässt."
        note: "Beispiele: Prototyp, Teamfoto, Vision, Logo, Problem (max. 5 MB)"
        mandatory: true
        sectionNumber: 1

      # Section 2
      - questionType: shortText
        order: 10
        preInformationBox: "Wir benötigen für den Wettbewerb Kontaktdaten zu einer Person im Gründerteam. Falls Ihr ein größeres Team seid, möchtet Ihr vielleicht einen Hauptansprechpartner/ eine Hauptansprechpartnerin außerhalb des Gründerteams benennen. Dies ist hier möglich, jedoch rein optional. "
        question: "Bitte gib die E-Mail-Adresse einer Person im Gründerteam an."
        mandatory: true
        maxTextLength: 60
        formattingRegex: EMAIL
        sectionNumber: 2

      - questionType: shortText
        order: 11
        question: "Bitte gib die Telefonnummer einer Person im Gründerteam an."
        mandatory: true
        maxTextLength: 60
        formattingRegex: PHONE_NUMBER
        sectionNumber: 2

      - questionType: shortText
        order: 12
        question: "Bitte gib die E-Mail-Adresse Eures Hauptansprechpartners/ Eurer Hauptansprechpartnerin an."
        mandatory: false
        maxTextLength: 60
        formattingRegex: EMAIL
        sectionNumber: 2

      - questionType: shortText
        order: 13
        question: "Bitte gib die Telefonnummer Eures Hauptansprechpartners an."
        mandatory: false
        maxTextLength: 60
        formattingRegex: PHONE_NUMBER
        sectionNumber: 2

      - questionType: conditional
        order: 14
        mandatory: true
        sectionNumber: 2
        question: "Ist Euer Start-Up schon im Handelsregister eingetragen?"
        Answers:
          - value: "Ja"
            questions:
              - questionType: shortText
                question: "Was ist Eure Handelsregisternummer?"
                mandatory: true
                maxTextLength: 100
                note: "Beispiel: HRB 123456"
              - questionType: pdfUpload
                question: "Bitte ladet ein Dokument hoch, in dem erkennbar ist, dass Eure Handelsregistereintragung nicht vor 2020 geschehen ist (max. 5 Jahre)"
                maxFileSizeInMB: 5.0  # in Mega Byte
                mandatory: true
                note: "[Dokument hochladen: Handelsregistereintragung]"
          - value: "Nein"
            questions: []

      - questionType: conditional
        order: 15
        sectionNumber: 2
        question: "Habt Ihr eine Webseite?"
        mandatory: true
        Answers:
          - value: "Ja"
            questions:
              - questionType: shortText
                question: "Wie lautet der Link zur Webseite?"
                mandatory: true
                maxTextLength: 60
          - value: "Nein"
            questions: []

      - questionType: shortText
        order: 16
        question: "In welcher Stadt lokalisiert Ihr Euch hauptsächlich?"
        mandatory: true
        maxTextLength: 60
        note: "Beispiel: \"München\"."
        sectionNumber: 2

      - questionType: conditional
        order: 17
        mandatory: true
        sectionNumber: 2
        question: "Habt Ihr Euch mit Eurem Start-up zuvor schon einmal bei Generation-D beworben?"
        Answers:
          - value: "Ja"
            questions:
              - questionType: shortText
                question: "In welchem Jahr?"
                mandatory: true
                maxTextLength: 60
                note: "Beispiel: \"2022\""
              - questionType: multipleChoice
                question: "Wart Ihr schon einmal im Finale von Generation-D?"
                minAnswers: 1
                maxAnswers: 1
                Answers:
                  - "Ja"
                  - "Nein"
                mandatory: true
                userInput: false
          - value: "Nein"
            questions: []

      - questionType: multipleChoice
        order: 18
        question: "Wie seid Ihr zum ersten Mal auf Generation-D aufmerksam geworden? Eine möglichst genaue Antwort hilft uns sehr, den Wettbewerb bekannter zu machen! (Mehrfachauswahl möglich)"
        minAnswers: 1
        maxAnswers: 3
        Answers:
          - "Generation-D LinkedIn"
          - "Generation-D Instagram"
          - "Social-Media Post bei einem Partner"
          - "Andere Social-Media-Kanäle"
          - "Channel Beitrag (Slack, etc.)"
          - "Website/Suchanfrage (Google, etc.)"
          - "Flyer & Plakate in einer Hochschuleinrichtung"
          - "Flyer & Plakate in einem Gründungszentrum/-initiative"
          - "Flyer & Plakate woanders ausgehängt/ ausgehändigt"
          - "Veranstaltung / Event"
          - "Hochschulinterne Kanäle (z.B. Rundmail)"
          - "Hochschulunabhängige Newsletter"
          - "Empfehlung durch Professor*in oder Hochschulpersonal"
          - "Empfehlung durch Gründungszentrum"
          - "Empfehlung durch andere Organisation"
          - "Empfehlung von Freunden und Bekannten"
          - "Sonstige (bitte bei der nächsten Frage spezifizieren!)"
        mandatory: true
        userInput: false
        sectionNumber: 2

      - questionType: longText
        order: 19
        question: "(optional) Wie habt Ihr uns <u>konkret</u> gefunden? Auch hier würde uns ein Hinweis sehr helfen!"
        mandatory: false
        maxTextLength: 500
        sectionNumber: 2

      - questionType: shortText
        order: 20
        question: "Wie setzt sich Euer Team zusammen?"
        mandatory: true
        maxTextLength: 60
        note: "Bitte antworte im Format: “männlich (Anzahl), weiblich (Anzahl), divers (Anzahl)”. Wenn Euer Team z.B. aus einer männlichen Person und zwei weiblichen Personen besteht, schreibt bitte: “männlich 1, weiblich 2, divers 0”"
        sectionNumber: 2

      - questionType: checkBox
        order: 21
        question: "Ich bestätige, dass keine Person aus dem Team Mitglied der Bayerischen EliteAkademie ist."
        mandatory: true
        sectionNumber: 2

      - questionType: checkBox
        order: 22
        question: 'Ich habe die <u><a href="https://generation-d.org/gend_einverstaendniserklaerung_2026-docx/" target="_blank">Einverständnis-Erklärung</a></u> zur Teilnahme am Wettbewerb gelesen und stimme dieser zu.'
        mandatory: true
        sectionNumber: 2